{
    "extends": "airbnb-base",
    "rules": {
        "linebreak-style": 0,
        "no-shadow": ["error", { "builtinGlobals": false, "hoist": "functions", "allow": ["state"] }],
        "import/extensions": ["error", "always", {
          "js": "never",
          "vue": "never"
        }],
        "import/no-extraneous-dependencies": ["error", {
          "optionalDependencies": ["test/unit/index.js"]
        }],
        "no-param-reassign": 0,
        "no-underscore-dangle": ["error", { "allow": ["_i18n", "_i18n"] }]
      },
    "plugins": ["html"]
}